### Pandas:  working with rows

In [8]:
import pandas as pd
import numpy as np

a = np.random.randint(0,10,20)
a.shape = (5,4)
df = pd.DataFrame(a,columns=list('ABCD'))

In [9]:
df

   A  B  C  D
0  9  0  5  3
1  4  6  6  4
2  1  4  3  9
3  8  1  1  1
4  1  7  6  2

In [ ]:
df.iloc[3]

The following does *not* do what we might want (to select rows 0 and 3).  Instead it returns the value at row 0, column 3.

In [10]:
df.iloc[0,3]

np.int64(3)

Double brackets notation.

In [11]:
df.iloc[[0,3]]

   A  B  C  D
0  9  0  5  3
3  8  1  1  1

In [12]:
df.iloc[[0,3]][['D','A']]

   D  A
0  3  9
3  1  8

Another way to access a single value:

In [13]:
df.at[0,'B']

np.int64(0)

Iteration

In [14]:
for i,r in df.iterrows():
    print(r['B'])

0
6
4
1
7